body {
    /* background: rgb(168, 168, 255); */
    background: #47633f;
  }

div#titleScreen {
    text-align: center;
    font-size: 20px;
}

div#description {
    width: 1130px;
    font-size: 25px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background: rgb(255, 255, 255, .5);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1180px;
    padding-bottom: 30px;
}

/* you could change the size of images individually by makikng a script which connects to this file. use the currentPage variable to determine which resizing to use */