body {
    /* background: rgb(168, 168, 255); */
    background: #47633f;
  }

div#titleScreen {
    text-align: center;
    font-size: 20px;
}

div#description {
    width: 1150px;
    font-size: 25px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background: rgb(255, 255, 255, .5);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    padding-bottom: 30px;
}

